<div>
  <div><h1>Projects</h1></div>
  
  <% if current_user.manager? %>
    <div>
      <%= link_to button_tag("Create New Project", class: "btn btn-primary"), new_project_path, data: { remote: true, toggle: 'modal', target: '#exampleModalCenter' } %>
    </div><br>
  <% end %>
  
  <% if @projects.present? %> 
    <div class = "table-responsive"> 
      <div>
        <table class= "table table-dark table-hover projects_table">
          <thead>
            <tr>
            <th>Title</th>
            <th>Actions</th>
            </tr> 
            <tr></tr>
          </thead> 
          
          <tbody>
            <%= render @projects %>
          </tbody>
        </table>
      </div>
    </div>

  <% else %>
    <p>You've no projects yet !</p>
  <% end %>
</div>

<%= render partial: 'project_form_modal' %> 