<div>
  <div><h1>Projects</h1></div>
  
  <% if current_user.manager? %>
    <div>
      <%= link_to "Create New Project", new_project_path %>
    </div><br>
  <% end %>
  
  <% if @projects.present? %> 
    <div class = "table-responsive"> 
      <div>
        <table class= "table table-dark table-hover">
          <thead>
            <tr>
            <th>Title</th>
            <th>Actions</th>
            </tr> 
            <tr></tr>
          </thead> 
          
          <tbody>
            <%= render @projects %>
          </tbody>
        </table>
      </div>
    </div>

  <% else %>
    <p>You've no projects yet !</p>
  <% end %>
</div>