<br><br>
<div>
  <div class= "table-responsive">
    <table class= "table table-dark table-hover bugs">
      <thead>
        <tr>
          <th>Title</th>
          <th>Deadline</th>
          <th>ScreenShot</th>
          <th>Type</th>
          <th>Status</th>
          <th>Assign To</th>
          <th>Actions</th>
        </tr> 
      </thead>
      <tbody> 
        <%= render @bugs %>
      </tbody>
    </table>
  </div>
  </div>
</div>