$("#bug-<%= @bug.id %>").fadeOut(300,function(){
  $(this).remove();

  $("#flash").find('.alert').remove();

  const str = '<div class="alert alert-success alert-dismissible fade show" role="alert">'
                +'Project has been successfully destroyed'
                +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                +'<span aria-hidden="true">&times;</span></button></div>'
  $("#flash").prepend(str);
});